<%- include('header'); -%>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <!--Meta Tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="/index.css">
        <title>
            Mod Manager / Terms and Conditions
        </title>
    </head>

    <body>
        <!--HEADER-->

        <!--MAIN BODY-->
        <section style="margin-bottom: 10;">
            <div class="d-flex justify-content-center head">
                <h1 style="font-weight: 80;">
                    <img src="<%= botClient.user.displayAvatarURL({size: 4096}) %>"
                        style="width: 4%;margin-top: -0.5%;"> <span style="font-size: 40px;"><span
                            style="color:#5663f7;">
                            <%= botClient.user.username %>
                        </span> | Ultimate Music and Moderation Experience</span>
                </h1>
            </div>
        </section>

        <section>

            <div class="subtext justify-content-center">
                <p style="font-style: italic;font-size: 30px;">
                <h2>Terms and Conditions</h2>
                <p>Manumission247 ("us" or "we" or "our") owns and operates the ModManager.manumission247.co.uk site
                    ("Site") and the ModManager Discord Bot
                    ("Bot"). The following Terms of Use (“TOU”) govern your use of the Site and the Bot. Other sites or
                    content owned or
                    controlled by Manumission247 may have their own terms of use and should be reviewed.</p>
                <p>ModManager/Manumission247 is not affiliated with Discord, Blizzard, Ubisoft, Steam or any game
                    developers of the
                    games we support.</p>
                <p>Using ModManager is at-will and can be terminated at any time by either us or you for any reason. By
                    using ModManager, you
                    agree to be bound by these TOU. If you do not agree to be so bound, you are not authorized to use
                    the Site or the Bot.
                    These TOU are a legal contract between you and ModManager and govern your access to and use of the
                    Site together with any
                    services offered through the Site.</p>
                <br /><br />
                <h3>LICENSE</h3>
                <p>ModManager hereby grants you a revocable and nonexclusive right and license to use ModManager's Site
                    (including any
                    underlying software) and Bot in a manner that is consistent with the other terms in these TOU and
                    ModManager's intended
                    purposes. ModManager reserves the right to terminate this License for any or no reason and at any
                    time without notice to
                    you, including, but not limited to, for breach of any term contained in these TOU.</p>
                <h3>SPONSORSHIPS</h3>
                You also agree to allow us to distribute messages to your Discord server(s) as we deem necessary,
                without limitation.
                This includes the ability to associate a sponsored message (promoting either ModManager or a third
                party) alongside the
                message. Any attempt to remove or block sponsored messages from your Discord server(s) will result in a
                temporary or
                permanent ban of your Discord server(s) from the ModManager service at the discretion of ModManager.

                "Gamer Reach" is a term used to describe an estimate of the maximum potential viewers of a given message
                and/or
                sponsored message. This provides no guarantees as to the actual number of views or clicks a given
                sponsored message will
                receive.

                ModManager may, but is not required to, provide a way to opt-out of receiving 3rd party sponsored
                messages. Please contact us via Discord, if you're unsure how to do this.
                <h3>REFUNDS</h3>
                <p>ModManager does not offer any refunds for sponsorships or Premium subscriptions. If you would like to
                    transfer your
                    Premium subscription to another Discord server please contact us via Discord.</p>
                <h3>CHANGES TO TERMS OF USE</h3>
                <P>ModManager reserves the right to modify these TOU at any time without prior notice. You should visit
                    the Site from time to
                    time to review the current TOU. By using the Site subsequent to any modification of these TOU, you
                    agree to be bound by
                    such modification(s). ModManager will highlight any change to these TOU for 30 days after such
                    change(s) is/are made.
                    ModManager does not represent that any of the Site content is completely accurate, and therefore any
                    reliance on the Site
                    is done at your own risk.</P>
                <h3>INTELLECTUAL AND OTHER PROPERTY</h3>
                <p>Some content on the Site and distributed by the Bot remains property of the 3rd parties where they
                    are obtained.</p>

                <p>Other than the exceptions referenced in these TOU or noted elsewhere, the major exception being UGC
                    uploaded/posted by
                    Site users which remains the property of the users, all other content on the Site is the property of
                    ModManager including,
                    but not limited to, all marks, logos, names, text, data, documents, messages, pictures, images,
                    video, audio, graphics,
                    links, software and its underlying code, domain name, or other electronic files (referred hereafter
                    as ModManager
                    Content”).</p>

                <p>Certain elements of ModManager, including but not limited to, text, graphics, photos, images, video,
                    audio, color
                    selections, organization and layout, are copyright protected under United States and international
                    copyright laws and
                    treaty provisions. Any ModManager Content protected by intellectual property laws may not be copied,
                    republished, posted,
                    modified, edited, transmitted, distributed, used to create derivative works of, or reverse
                    engineered without
                    permission, except that you may print out one copy of each Site page solely for noncommercial
                    personal or educational
                    use. No right, title, or interest in any ModManager Content is transferred to you as a result of you
                    accessing,
                    downloading, or printing such content from the Site. Any use of ModManager Content must display the
                    appropriate copyright,
                    trademark, and other proprietary notices.</p>

                <p>You acknowledge that you have no right, title, or interest in or to ModManager and/or ModManager
                    Content.</p>

                <p>ModManager and the ModManager logo are marks of ModManager. Other marks, names, and logos on the Site
                    are the property of
                    their respective owners.</p>

                There may be other content located on the Site not owned by ModManager, and you should respect those
                property rights as
                well. All rights not expressly granted herein are reserved to ModManager.</p>
                <h3>OTHER PROHIBITED CONDUCT</h3>
                <p>In connection with your access and/or use of the Site or any Site services, you agree not to:</p>
                <ul>
                    <li>Violate any federal, state, or local laws or regulations.</li>
                    <li>Upload/post anything that imposes an unreasonable or disproportionately large strain on
                        ModManager’s network or
                        computer infrastructure.</li>
                    <li>Engage in any behavior that is designed to hack into or gain unauthorized access to protected
                        areas of the Site
                        and/or ModManager’s computers, servers or networks, and/or any computers or systems used by
                        other users of the
                        Site.</li>
                    <li>Upload/post anything that could destroy, damage, or impair any portion of the Site or any
                        computers, systems,
                        hardware, or software used by ModManager or other users.</li>
                    <li>Make unauthorized attempts to modify any information stored on the Site.</li>
                    <li>Make attempts to defeat or circumvent security features, or to utilize the Site for any other
                        purpose other than
                        its intended purposes.</li>
                    <li>Discuss, incite, or promote illegal activity.</li>
                    <li>Upload/post any unsolicited or unauthorized advertising, promotional materials, spam emails,
                        chain letters,
                        pyramid schemes, or any other form of such solicitations.</li>
                    <li>Use any automated technology such as a robot, spider, or scraper to access, scrape, or data mine
                        the Site.</li>
                    <li>Use the Site to send spam or unsolicited bulk email.</li>
                    <li>Provide false or misleading information when signing up for a Site account or otherwise
                        upload/post any false or
                        misleading information or content through the Site.</li>
                </ul>
                <p>The previous list of prohibitions is not exclusive. ModManager reserves the right to terminate your
                    access to the Site
                    or any Site services for any reason. ModManager reserves the right to refuse, delete, or edit any
                    UGC without cause
                    and without notice for any or no reason including, but not limited to, for any action that
                    ModManager determines is
                    inappropriate or disruptive to the Site or to any other user of the Site.</p>
                <p>ModManager is under no duty to, and does not represent it will, monitor and/or remove any UGC.</p>
                <p>By accepting these TOU, you waive and hold harmless ModManager from any claims resulting from any
                    action taken by
                    ModManager during or as a result of ModManager’s investigation and/or from any actions taken as a
                    consequence of
                    investigations by either ModManager or law enforcement related to your use of the Site.</p>

                <h3>Indemnity</h3>
                <p>You agree to indemnify, defend and hold harmless ModManager, including its officers, directors,
                    employees, affiliates,
                    agents, licensors, representatives, attorneys, and business partners (“Indemnified Parties”), from
                    and against any
                    and all claims, demands, losses, costs, damages, liabilities, judgments, awards, and expenses
                    (including attorneys’
                    fees, costs of defense, and direct, indirect, punitive, special, individual, consequential, or
                    exemplary damages)
                    ModManager or any of the Indemnified Parties suffer in relation to, arising from, or for the purpose
                    of avoiding, any
                    claim or demand from a third party that relates to your use of the Site and/or any Site goods or
                    services, your
                    breach of these TOU, the use of the Site by any person using your password, or any violation of an
                    applicable law or
                    regulation by you. Your indemnification obligation shall survive the termination of these TOU.</p>

                <h3>Disclaimer of Warranties</h3>
                <p>YOUR USE OF THE SITE IS AT YOUR OWN RISK.</p>
                <p>ModManager MAKES NO EXPRESS OR IMPLIED WARRANTIES, REPRESENTATIONS OR ENDORSEMENTS WHATSOEVER WITH
                    RESPECT TO THE SITE
                    OR ANY GOODS OR SERVICES OFFERED ON OR THROUGH THE SITE. ModManager EXPRESSLY DISCLAIMS ALL
                    WARRANTIES OF ANY KIND,
                    (EXPRESS, IMPLIED, STATUTORY, OR OTHERWISE), INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF
                    MERCHANTABILITY,
                    SECURITY, COMPLETENESS, TIMELINESS, APPROPRIATENESS, ACCURACY, FITNESS FOR A PARTICULAR PURPOSE,
                    FREEDOM FROM
                    COMPUTER VIRUSES, TITLE, AND NON-INFRINGEMENT. THE DISCLAIMER OF WARRANTIES APPLIES TO THE SITE, ITS
                    CONTENT, AND
                    ANY GOODS OR SERVICES OFFERED ON OR THROUGH THE SITE. ModManager DOES NOT WARRANT THAT THE SITE
                    FUNCTIONS OR CONTENT
                    WILL BE UNINTERRUPTED, TIMELY, OR SECURE. ModManager DOES NOT WARRANT THE ACCURACY OR COMPLETENESS
                    OF THE SITE.
                    ModManager DOES NOT WARRANT THAT THE SITE AND/OR CONTENT WILL BE ERROR-FREE, THAT ANY ERRORS ON THE
                    SITE WILL BE
                    CORRECTED, OR THAT THE SITE/SERVERS ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.</p>
                <p>THE SITE AND RELATED CONTENT, INCLUDING ANY GOODS, SERVICES OR INFORMATION PROVIDED ON OR THROUGH THE
                    SITE, ARE
                    PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR
                    IMPLIED. YOU
                    ASSUME THE ENTIRE COST OF ALL NECESSARY REPAIRS IN THE EVENT YOU EXPERIENCE ANY LOSS OR DAMAGE
                    ARISING FROM THE USE
                    OF THE SITE OR ANY SITE GOODS OR SERVICES. ModManager MAKES NO WARRANTIES THAT YOUR USE OF THE SITE
                    WILL NOT INFRINGE
                    THE RIGHTS OF OTHERS AND ASSUMES NO LIABILITY FOR SUCH INFRINGEMENT.</p>

                <h3>Limitation of Liability</h3>
                <p>IN NO EVENT WILL ModManager OR ITS OFFICERS, DIRECTORS, EMPLOYEES, AFFILIATES, AGENTS, LICENSORS,
                    REPRESENTATIVES,
                    ATTORNEYS, AND BUSINESS PARTNERS BE LIABLE FOR ANY DAMAGES WHATSOEVER, INCLUDING, BUT NOT LIMITED
                    TO, ANY DIRECT,
                    INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY, PUNITIVE, ACTUAL, OR OTHER INDIRECT
                    DAMAGES, INCLUDING LOSS
                    OF REVENUE OR INCOME, LOST DATA, LOSS OF GOODWILL, PAIN AND SUFFERING, EMOTIONAL DISTRESS, OR
                    SIMILAR DAMAGES, EVEN
                    IF ModManager HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, ARISING OUT OF:</p>
                <ol>
                    <li>THE USE OR INABILITY TO USE THE SITE OR ANY SITE GOODS OR SERVICES</li>
                    <li>ANY TRANSACTION CONDUCTED THROUGH OR FACILITATED BY THE SITE</li>
                    <li>ANY CLAIM ATTRIBUTABLE TO ERRORS, OMISSIONS, OR INACCURACIES ON THE SITE</li>
                    <li>ANY OTHER MATTER RELATING TO THE SITE OR ANY GOOD OR SERVICE OFFERED ON OR THROUGH THE SITE</li>
                </ol>
                <p>IN NO EVENT WILL THE COLLECTIVE LIABILITY OF ModManager OR ITS OFFICERS, DIRECTORS, EMPLOYEES,
                    AFFILIATES, AGENTS,
                    LICENSORS, REPRESENTATIVES, ATTORNEYS, AND BUSINESS PARTNERS TO ANY PARTY, REGARDLESS OF THE TYPE OF
                    ACTION WHETHER
                    IN CONTRACT, TORT, OR OTHERWISE, EXCEED THE GREATER OF $100.00 OR THE AMOUNT YOU PAID TO ModManager
                    FOR THE APPLICABLE
                    GOOD OR SERVICE OUT OF WHICH THE LIABILITY AROSE.</p>
                <p>IF YOU ARE DISSATISFIED WITH THESE TOU, THE SITE, OR ANY GOOD OR SERVICE OFFERED ON OR THROUGH THE
                    SITE, YOUR SOLE
                    AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE SITE.</p>
                <p>GIVEN THAT SOME STATES DO NOT ALLOW FOR THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR
                    INCIDENTAL
                    DAMAGES, SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU. THE LIMITATION OF LIABILITY WILL APPLY
                    TO THE GREATEST
                    EXTENT ALLOWED UNDER THE LAW.</p>

                <h3>Geographic Limitation</h3>
                <p>ModManager operates the Site from its headquarters in the United States, and the Site and TOU are
                    intended only for
                    users within the United States. If you use the Site outside the United States, you are responsible
                    for following
                    your applicable local laws and determining, among other things, whether your use of the Site
                    violates any of those
                    local laws. By using the Site, you agree and acknowledge that information about you, including
                    personally
                    identifiable information, may be transmitted to and stored in the United States.</p>

                <h3>Site Privacy Policy</h3>
                <p>Your use of the Site and Bot are governed by the <a href="/privacy-policy">Site Privacy Policy</a>
                    which is
                    incorporated by reference into these TOU.</p>


                <br />
                <strong>Logging of Mod Manager</strong><br />
                Use of ModManager is logged to a central Discord Server for developers to monitor and manage the
                bot.<br />
                Only Guild Information, and Command Actions are logged. PERSONAL INFORMATION is NOT LOGGED. (see
                Privacy)
                </p>

            </div>

        </section>
        <!-- FOOTER-->
        <section>
            <div class="card-footer" style="margin-top:15%;text-align: center;color: #5663f7;">
                <hr
                    style="width: 75%;background-color: #FFFFFF!important;color: #FFFFFF!important;border: 5px solid #FFFFFF!important;border-radius:25px;margin-left: 12%;">
                <h4 style="margin-top:5%;">
                    <img src="<%= botClient.user.displayAvatarURL({size: 4096}) %>"
                        style="width: 4%;margin-top: -0.5%;"> <span style="font-size: 25px;">
                        <%= botClient.user.username %> | Ultimate Music and Moderation Experience <br /> <br /> <a
                                style="font-size: 20;" href="/terms">Terms and
                                Conditons</a>
                            <a style="font-size: 20;" href="/privacy">Privacy Policy</a>
                    </span>
                    </h3>
                    <h5 style="text-align: center;">
                        <a href="https://manumission247.co.uk/" target="_blank"
                            style="font-size: 12px; color: #888a9b!important;text-decoration: none;">&copy; Copyright
                            Mod
                            Manager
                            (Manumission247) | All
                            rights served.</a><br><br>
                        <a href="https://github.com/Tomato6966/Musicium" target="_blank"
                            style="font-size: 20px; color: #5663f7!important;text-decoration: none;">Music Portion
                            Developed
                            by
                            <code>Tomato#6966</code> | [Github]</a>
                    </h5>
            </div>
        </section>

        <!--JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
    </body>

    </html>